.loading-div{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.loading-spinner{
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    bottom: 0;
    padding-bottom: 5rem;
}

.loading-skeleton{
    z-index: 2;
    height: 100% !important;
}

.loading-progress-spinner{
    z-index: 999;
    position: absolute;
    top: 0;
}