.p-toast-message{
    color: black;
    position: relative;
    top: 20px;
}

.p-badge{
    font-size: .6rem;
}

.p-button{
    font-size: .7rem;
}

.p-image-action.p-link:not(:last-child){
    display: none;
}

.p-image-toolbar {
    top: 15px;
    right: 15px;
}

.p-badge{
    grid-row: 2;
    margin: 0;
    padding: 0 .1rem;
    border-radius: 5px;
}

.p-button-icon{
    grid-row: 1;
    margin: 0;
    margin-bottom: .2rem;
}